@keyframes typewriter-subtitle {
  from {
    width: 0;
  }

  to {
    width: 335px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }

  to {
    border-right-color: transparent;
  }
}
.home {
}
h1 {
  font-size: 450%;
  font-weight: lighter;
}
.typewriter-title {
  overflow: hidden;
  position: relative;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: typewriter-subtitle 4s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h2 {
  margin-top: -25px;
  font-size: 250%;
  font-weight: 300;
}

.contact {
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.btn-contact {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  width: 140px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(80, 79, 79);
  background-color: #eceaea;
}
.logo {
  width: 30px;
  height: 35px;
  align-self: center;
}
.projects-btn {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.project-btn {
  font-size: 120%;
  display: flex;
  justify-content: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0px 0px 1px rgb(80, 79, 79);
  transition: all 0.5s;
}

.project-btn:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px rgb(80, 79, 79);
}

.project-container {
  margin-top: 15px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.project-box {
  width: 600px;

  height: 350px;
  border-radius: 5px;
}
.wargame {
  background: url("../Images/warProject.png") no-repeat center center;
  background-size: contain;
  background-color: #043f04;
}
.shakeItYourself {
  background: url("../Images/photoProjetCocktail.png") no-repeat center center;
  background-size: cover;
}

.froggyDays {
  background: url("../Images/projetFroggy.png") no-repeat center center;
  background-size: cover;
}
.minimal {
  background: url("../Images/imgMinimal.png") no-repeat center center;
  background-size: cover;
}
.calculatrice {
  background: url("../Images/calculatorProject.png") no-repeat center center;
  background-size: contain;
}

.calculatrice:hover,
.minimal:hover,
.froggyDays:hover,
.shakeItYourself:hover,
.wargame:hover {
  box-shadow: 0px 0px 20px rgb(134, 134, 134);
  transition: 0.4s all;
}

a {
  color: black;
  text-decoration: none;
}
